    html {box-sizing:border-box; margin:0; padding:0; font-family:'Alegreya+Sans', Verdana, Arial, helvetica, sans-serif; font-weight:400; font-size:62.5%; -webkit-text-size-adjust: 100%;line-height:1.4;}
    * {box-sizing:inherit; margin:0; padding:0;}
    * {outline:1px solid red;}
    #wrapper {
        font-size:1.4rem; 
        width:100%;
        max-width:1000px;
        margin:0 auto;
        height: 100vh;
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows:1fr 1fr 3fr 1fr 1fr 1fr;
        grid-template-areas:
        "header"
        "nav"
        "main"
        "feature"
        "quotes"
        "footer";
        gap:10px 10px;
        padding:20px;
    }

    #one {background-color:turquoise; grid-area:header;}
    #two {grid-area:nav;}
    #three {
        grid-area:feature; 
        /*display:flex; 
        justify-content:center; 
        flex-wrap:wrap; 
        flex-direction:row;
        gap:1rem;*/
    }
    #four {grid-area:main;}
    #four article:first-child {padding-bottom:2rem; }
    #five {background-color:#c2d5de; grid-area:quotes;}
    #six {background-color:#026396; grid-area:footer;}

    #five, #six {padding:20px 30px;}

    .hide {display:none;}

/* --------------------------
	FLOATS
------------------------------ */

    .leftFloat {
        float: left;
    }
    .rightFloat {
        float: right;
    }
    
    .floatrightdrop {
        float: right;
        margin: .6rem 2rem 1rem 2rem;
        clear: left;
        width:45%;
    }
    .floatleftdrop {
        float: left;
        margin: .2rem 2rem 0 0rem;
        clear: left;
    }

    /* --------------------------
	CLEARFIX
------------------------------ */

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

    /* --------------------------
		TYPOGRAPHY
------------------------------ */

    p, li {margin-bottom:1rem;}
    h1, h2  {color:#026396; font-family:'Philosopher', Verdana, Arial, helvetica, sans-serif; font-weight:700; line-height:1.2; margin:0 0 1.5rem 0;}
    h1 {font-size:3rem;}
    h2 {font-size:2.5rem; margin-top:2rem;}
    header h2, footer {background-color:#026396;}
    h3 {margin:2rem 0 1.5rem 0;}
    .barheadinline h3 {margin:0;}

    .barheadinline {
        font-size:1.6rem;
        font-weight:bold;
        color:#fff;        
        float:left;
        margin:-1rem 0 1.2rem -1.2rem;
        padding:.6rem 1.5rem;

        -webkit-box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 0.5);
           -moz-box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 0.5);
                box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 0.5);
    }
    
    .barheadinline + h2, .barheadinline + h3 {
        clear: both; /* h2 or h3 preceeded by .barheadinline */
    }

    .feature, .testimonials {
        background-color:#f6f2ec;
        clear:both;
        padding:2rem;
        margin-bottom:2rem;
        }
    .feature:first-child {margin-top:0;} /* first .feature gets top of 0. if first element isn't .feature, it won't apply at all. */

    p + .feature {margin-top:2rem;} /* a .feature immediately preceeded by a p element */

    .red {color:#900;}

    #four ul { list-style-type: none; padding-left:2rem;}

    hr {margin:2rem 0;}

    .event {font-size:larger;}


    /* --------------------------
		HEADER
------------------------------ */

header {
        width: 100%;
        padding-bottom: 1rem;
        padding: 0;
        background-image: -webkit-linear-gradient(270deg,rgba(2,99,149,1.00) 0%,rgba(56,148,187,1.00) 46.50%,rgba(141,225,249,1.00) 90.47%);
        background-image: -moz-linear-gradient(270deg,rgba(2,99,149,1.00) 0%,rgba(56,148,187,1.00) 46.50%,rgba(141,225,249,1.00) 90.47%);
        background-image: -o-linear-gradient(270deg,rgba(2,99,149,1.00) 0%,rgba(56,148,187,1.00) 46.50%,rgba(141,225,249,1.00) 90.47%);
        background-image: linear-gradient(180deg,rgba(2,99,149,1.00) 0%,rgba(56,148,187,1.00) 46.50%,rgba(141,225,249,1.00) 90.47%);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
        }
        header img {width:70%; max-width:500px; margin:1rem 1rem 0 1rem ;}
        h1 {margin-bottom:0;}
        header h2 {color:white; margin:0; padding:10px;}
    

    /* --------------------------
		FOOTER
------------------------------ */

footer {font-size:1.2rem;}
#footermenu li {display:inline-block; color:white; margin:0 1rem 1rem 0;}
footer p {color:white;  line-height:1.6; margin:0; }
#footercontact {margin-bottom:1rem;}


    /* --------------------------
		LINKS
------------------------------ */

a {
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

a:link, a:visited {
	color: rgba(2,99,149,1.00);
	text-decoration: none;
	font-weight: bold;
}

a:hover, a:focus {
	color: #fb5c05;
	text-decoration: none;
	font-weight: bold;
}

a:active {
	color: #900;
	text-decoration: none;
	font-weight: bold;
}

registration:link, registration:hover, a.registration:focus, a.registration:visited, a.classdesc:link, a.classdesc:hover, a.classdesc:focus, a.classdesc:visited  {color:white;}

footer a:link {color:wheat;}
footer a:link:first-child {color:white;}
footer a:visited {color:orange;}
footer a:hover, footer a:visited:hover, footer a:active {color:tan;}
footer p a:link, footer p a:hover { font-weight:400;}
a.out {padding-right:14px; background:url("../images/Icon_External_Link.png") no-repeat  right .7px padding-box;}

.button {	
	display:inline-block;
	background-image: -webkit-linear-gradient(90deg,rgba(2,99,149,1.00) 0%,rgba(56,148,187,1.00) 46.50%,rgba(141,225,249,1.00) 90.47%);
	background-image: -moz-linear-gradient(90deg,rgba(2,99,149,1.00) 0%,rgba(56,148,187,1.00) 46.50%,rgba(141,225,249,1.00) 90.47%);
	background-image: -o-linear-gradient(90deg,rgba(2,99,149,1.00) 0%,rgba(56,148,187,1.00) 46.50%,rgba(141,225,249,1.00) 90.47%);
	background-image: linear-gradient(0deg,rgba(2,99,149,1.00) 0%,rgba(56,148,187,1.00) 46.50%,rgba(141,225,249,1.00) 90.47%);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
	padding:10px 20px;
	border-radius:20px;
	margin-top:10px;
}

.button:hover {
	background-image: -webkit-linear-gradient(270deg,rgba(2,99,149,1.00) 0%,rgba(56,148,187,1.00) 46.50%,rgba(141,225,249,1.00) 90.47%);
	background-image: -moz-linear-gradient(270deg,rgba(2,99,149,1.00) 0%,rgba(56,148,187,1.00) 46.50%,rgba(141,225,249,1.00) 90.47%);
	background-image: -o-linear-gradient(270deg,rgba(2,99,149,1.00) 0%,rgba(56,148,187,1.00) 46.50%,rgba(141,225,249,1.00) 90.47%);
	background-image: linear-gradient(180deg,rgba(2,99,149,1.00) 0%,rgba(56,148,187,1.00) 46.50%,rgba(141,225,249,1.00) 90.47%);
}

a:link.button, a:visited.button {color:white;}
a:hover.button, a:focus.button, a:active.button {color:white;}


    /* --------------------------
		NAV
------------------------------ */


nav {text-align:center; }
nav ul {list-style-type:none;}
nav li {
margin:0; padding:0;
display:inline-block;
text-align:center;
width:11.2rem; /* 11rem */
height:5.5rem; /* 5.5rem */
margin-bottom:0;
    background-position: 0rem top, -95rem top;
    background-repeat: no-repeat, no-repeat;
    background-size:contain; /*10.5rem 5.5rem, 10.5rem 5.5rem*/
padding-top:.3rem;
}
nav li p {margin:0; padding:0; font-size:1.4rem;  font-weight:bold; color:white; text-shadow:0 2px 5px rgba(0, 0, 0, 0.9); text-align:center; line-height:4.5rem;}

#home, #classes, #events, #events, #workshops, #reg, #instructors, #music, #links {background-size:contain;}

#home {background-image: url(../images/menu/home.png), url(../images/menu/home_over.png);
}
#home:hover {background-position: -100rem top, .5rem top;}
#classes {background-image: url(../images/menu/classes.png), url(../images/menu/classes_over.png);
}
#classes:hover {background-position: -100rem top, .5rem top;}
#events {background-image: url(../images/menu/events.png), url(../images/menu/events_over.png);
}
#events:hover {background-position: -100rem top, .5rem top;}
#workshops {background-image: url(../images/menu/workshops.png), url(../images/menu/workshops_over.png);
}
#workshops:hover {background-position: -100rem top, .5rem top;}
#reg {background-image: url(../images/menu/reg.png), url(../images/menu/reg_over.png);
}
#reg:hover {background-position: -100rem top, .5rem top;}
#instructors {background-image: url(../images/menu/instructors.png), url(../images/menu/instructors_over.png);
}
#instructors:hover {background-position: -100rem top, .5rem top;}
#music {background-image: url(../images/menu/music.png), url(../images/menu/music_over.png);
}
#music:hover {background-position: -100rem top, .5rem top;}
#links {background-image: url(../images/menu/links.png), url(../images/menu/links_over.png);
}
#links:hover {background-position: -100rem top, .5rem top;}

/* --------------------------
	FLEXIBLE MEDIA CONTAINER
------------------------------ */
.video-meta-container, .video-meta-container2 {width:100%; overflow:hidden; }
.video-container, .video-container2 {width:100%; height:256px;}
.video-container iframe,
.video-container object,
.video-container embed, .video-container2 iframe,
.video-container2 object,
.video-container2 embed {
	position: relative;
	border:0;
	width: 100%;
	height: 100%;
}

.video-meta-container2 {margin-bottom:1.5rem; margin-top:2rem;}

/* --------------------------
		BLOCKS
------------------------------ */
/*.block, .video-container {margin-bottom:1.5rem;}
.block {
		width:100%;
		max-width:30rem;
  		height:17.5rem;
  		display:table;
		background-color:white;
}
.blockplain {padding:0; margin:-1rem 0 0 -1rem;}
.blockheadline {
		color:white;
		font-size:1.8rem;
		font-style:normal;
		line-height:1.2;
		}
.block p {
		text-align:center;
		vertical-align:bottom;
		color:#ddd;
		font-size:1.2rem;
		font-weight:bold;
		display:table-cell;
		padding:1rem;
		letter-spacing:.5px;
		text-shadow: 0 .2rem .2rem rgba(0, 0, 0, .9);
		} */

/* --------------------------
ROUNDED CORNERS
------------------------------ */

.c, .testimonials, .block p, #one, #three, #five, #six {
    -moz-border-radius: 1rem;
 -webkit-border-radius: 1rem;
           border-radius: 1rem;
}
.barheadinline {
    -moz-border-radius: 2rem;
 -webkit-border-radius: 2rem;
           border-radius: 2rem;
}.lc {
-moz-border-radius: 1rem 0 0 1rem;
-webkit-border-radius: 1rem 0 0 1rem;
border-radius: 1rem 0 0 1rem;
}
.rc {
-moz-border-radius: 0 1rem 1rem 0;
-webkit-border-radius: 0 1rem 1rem 0;
border-radius: 0 1rem 1rem 0;
}
.tc {
-moz-border-radius: 1rem 1rem 0 0;
-webkit-border-radius: 1rem 1rem 0 0;
   border-radius: 1rem 1rem 0 0;
}
.bc, #bar, header  {
-moz-border-radius: 0 0 1rem 1rem;
-webkit-border-radius: 0 0 1rem 1rem;
border-radius: 0 0 1rem 1rem;
}
.tlc {
-moz-border-radius-topleft: 1rem;
-webkit-border-top-left-radius: 1rem;
border-top-left-radius: 1rem;
}
.trc {
-moz-border-radius-topright: 1rem;
-webkit-border-top-right-radius: 1rem;
border-top-right-radius: 1rem;
}
.blc {
-moz-border-radius-bottomleft: 1rem;
-webkit-border-bottom-left-radius: 1rem;
border-bottom-left-radius: 1rem;
}
.brc {
-moz-border-radius-bottomright: 1rem;
-webkit-border-bottom-right-radius: 1rem;
border-bottom-right-radius: 1rem;
}
    /* --------------------------
		COLOR
------------------------------ */
.brown {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#CC9900), to(#A37A00));
	background-image: -moz-linear-gradient(19% 75% 90deg, #A37A00, #CC9900);
	background-color: #c90;}

    /* --------------------------
		MEDIA
------------------------------ */

    @media screen and (min-width:700px) {
        #wrapper {
        width:100%;
        max-width:1000px;
        margin:0 auto;
        height: 100vh;
        display:grid;
        grid-template-columns:1fr 3fr;
        grid-template-rows:1fr 1fr 3fr 1fr 1fr;
        grid-template-areas:
        "header header"
        "nav nav"
        "feature main"
        "quotes quotes"
        "footer footer";
        gap:20px 20px;
        padding-bottom:20px;
        }
        #three {
            flex-direction:column;
            justify-content:flex-start;
        }

    }