   /* --------------------------
	MASONRY
------------------------------ */
  /* This is the non-masonry columns; columns flow top-to-bottom of first column then over to second column instead of across top of first three columns and then down */
  .grid {
	--gap: 1em;
	--columns: 2;
	max-width: 80rem;
	margin: 0 auto;
	display: column;
	columns: var(--columns);
	gap: var(--gap);
  }
.grid img {width:100%;}

  @media only screen and (min-width: 700px){
	  .grid {
		  --columns: 1;
		 max-width: 30rem;
	  }
  }
  
  /* This avoids breaking items across columns */
  .grid > * {
	break-inside: avoid;
	margin-bottom: var(--gap);
  }
  
  /* LOOKS FOR BROWSER SUPPORT */
  @supports (grid-template-rows: masonry) {
	.grid {
	  display: grid;
	  grid-template-columns: repeat(var(--columns), 1fr);
	  grid-template-rows: masonry;
	  grid-auto-flow: dense;
	  /* align-tracks: stretch; */
	}
  
	.grid > * {
	  margin-bottom: 0em;
	}
  }

.display {
        position: relative;

    }

    .display a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-decoration: none; /* No underlines on the link */
        z-index: 10; /* Places the link above everything else in the div */
        background-color: #FFF; /* Fix to make div clickable in IE */
        opacity: 0; /* Fix to make div clickable in IE */
        filter: alpha(opacity=1); /* Fix to make div clickable in IE */
    }

    .display img {width:100%;}

    .video {
        background:url("../images/blocks/LA-and-Claire-ifehringer.jpg") no-repeat top center;
        background-size:cover;
        color:white;
        text-align:center;
        padding:10rem 1rem 1rem 1rem;
    }

    .email {
        background:url("../images/blocks/email300x200.jpg") no-repeat top center;
        color:white;
        text-align:center;
        padding:1rem;
    }

    .facebook {
        background-color:gray;
        color:white;
        padding:1rem;
    }
    .facebook div {display:flex;
        flex-direction:row;}
    .facebook td:first-child {width:30%;}   
    .facebook tr img {width:100%;}
    .facebook tr h3 {padding-left:1rem;}