.block {width:45%; margin-bottom:.75rem;}

/* DANCE TIL DUSK AD */
.dtd {background-color:black; text-align:center; padding:5px; line-height:1.4;}
.dtd a:link, .dtd a:visited {color:white; font-size:1.6rem;}
.dtd a:hover, .dtd .a:focus, .dtd a:active {color:dodgerblue;}
.blockprivates {background:url(../images/blocks/privates300x200.jpg) no-repeat top center;}

.blockvideos {
	background:url("../images/blocks/LilliClaire300x200_©john_fehringer.jpg") no-repeat top center;
	font-family:'Philosopher', Georgia, serif; font-size:24px;
	text-align:left; 
	font-weight:normal;
}
.blockvideos p {font-size:1.4rem;}

.blockvideos:hover {border:1px solid red;}

.blockemail {background:url(../images/blocks/email300x200.jpg) no-repeat top center; background-size:cover;}

.blockdusk {background:url(../images/dancedusk/2015/DFJ-Rotating-Ad2.gif) no-repeat top center; background-size:cover;}

.blockrealestate {height:225px; background:#222d63 url(../images/realestate/houses.png) no-repeat top center; padding-bottom:10px;}
.blockrealestate p {width:100%; float:left; clear:left; padding:0 10px 10px 10px;}
.blockrealestate p {margin-top:120px;}
.blockrealestate p.button {font-size:14px;background-color:#f6a43a; width:80%; margin:0 0 10px 10%; padding-top:5px;}
.blockrealestate p.button:hover {background-color:#f7bc6f;}
.blockrealestate a:link {color: white; text-shadow:rgba(0,0,0,0.00)}

/* --------------------------
	FACEBOOK ALIGNMENT
------------------------------ */

.facebook {
	display:table;
	padding:1.2rem 2rem 1rem 2rem;
	background-color:#dfdfdf;
	}
.facebook img {margin-right:1rem; float:left;}
.facebook div {display:table-cell; vertical-align:middle;}
.facebook h4 {display:table-cell; vertical-align:middle; font-size:1.6rem;}
  .icon   { display: inline-block;
            /* size, color, etc. */ }

  .middle { vertical-align: middle; }

  /* --------------------------
	MEDIA
------------------------------ */

  @media screen and (min-width:700px) {
	.block {width:100%;}
  }