

* {outline:1px solid red;}


  /* --------------------------
	MASONRY
------------------------------ */
  /* This is the non-masonry columns; columns flow top-to-bottom of first column then over to second column instead of across top of first three columns and then down */
.grid {
	--gap: 1em;
	--columns: 2;
	max-width: 80rem;
	margin: 0 auto;
	display: column;
	columns: var(--columns);
	gap: var(--gap);
  }
.grid img {width:100%;}

  @media only screen and (min-width: 700px){
	  .grid {
		  --columns: 1;
		 max-width: 30rem;
	  }
  }
  
  /* This avoids breaking items across columns */
  .grid > * {
	break-inside: avoid;
	margin-bottom: var(--gap);
  }
  
  /* LOOKS FOR BROWSER SUPPORT */
  @supports (grid-template-rows: masonry) {
	.grid {
	  display: grid;
	  grid-template-columns: repeat(var(--columns), 1fr);
	  grid-template-rows: masonry;
	  grid-auto-flow: dense;
	  /* align-tracks: stretch; */
	}
  
	.grid > * {
	  margin-bottom: 0em;
	}
  }

  /* DANCE TIL DUSK AD */
.dusk img {width:100%;}

/* VIDEOS */
.blockvideos {
	background:url("../images/blocks/LA-and-Claire-ifehringer.jpg") no-repeat top center;
	padding-top:60px;
 font-size:24px;
	text-align:left; 
	font-weight:normal;
}
.blockvideos p {font-size:1.4rem;}


/* EMAILS */
.blockemail {background:url(../images/blocks/privates300x200.jpg) no-repeat top center; background-size:cover;}



/* --------------------------
	FACEBOOK ALIGNMENT
------------------------------ */

.facebook {
	display:table;
	padding:1.2rem 2rem 1rem 2rem;
	background-color:#dfdfdf;
	}
.facebook img {margin-right:1rem; }
.facebook div {display:table-cell; vertical-align:middle;}
.facebook h4 {display:table-cell; vertical-align:middle; font-size:1.6rem;}
  .icon   { display: inline-block;
            /* size, color, etc. */ }

  .middle { vertical-align: middle; }

  /* --------------------------
	MEDIA
------------------------------ */

  @media screen and (min-width:700px) {
	.block {width:100%;}
  }