#four img[src="images/dancedusk/SwinginIt.jpg"] {margin-top:2rem;}

header h2 {font-size:28px;}
#intro h2 {font-size:32px; margin-bottom:.5rem;}
#intro p {margin-left:0; font-size:16px;}
form {display:block; margin-top:1rem;}

#menu h3, #menu p, #menu h5 {font-size:1.7rem;}

#menu input[name="submit7"] {width:15%;}

.collapsible {
  background-color: #2b6092;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover, .collapsible:focus {
  background-color: #5d9bc0;
}

.content {
  padding: 0 18px 18px 18px;
  margin-bottom:6px;
  margin-top:-6px;
  display: none;
  overflow: hidden;
  background-color: #f5f2ed;
}

button {
    margin-bottom:3px;
    font-weight:bold;
    font-size:larger;
}

.shopcart { width:100%; border:0; background-color:#2b6092}
.shopcart:hover, .shopcart:focus {background-color:#5d9bc0}